

.class0{
    font-size: 16px;
    color: limegreen;
    background-color: blueviolet;
    padding: 10px;
}
.class1{
    font-size: 20px;
    color: red;
    background-color: limegreen;
    padding: 10px;
}
.class2{
    font-size: 30px;
    color: blue;
    background-color: grey;
    padding: 10px;
}
.class3{
    font-size: 40px;
    color: yellow;
    background-color: purple;
    padding: 10px;
}